@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Sans';
        src: url(../public/fonts/sans.ttf);
    }
}


:root,
html,
body {
    font-family: Sans, serif;
    direction: rtl;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #d2d2d2;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #2563eb;    /* color of the scroll thumb */
    border-radius: 7px;       /* roundness of the scroll thumb */
}